.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.main img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.main h2 {
  font-size: 14px;
}
.main p {
  font-size: 10px;
}
