.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: row;
  padding: 10px;
}

.logo {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  margin-top: 10px;
  margin-left: 1.5rem;
}

.nav-btn {
  border: none;
  background-color: transparent;
  position: relative;
  margin-top: 10px;
}

.nav-close {
  display: none;
}

.navLinks {
  width: 15rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  top: 7rem;
  gap: 5px;
  padding: 10px 30px;
  box-shadow: 8px 11px 5px 0px rgba(27, 27, 27, 0.6);
  -webkit-box-shadow: 8px 11px 5px 0px rgba(27, 27, 27, 0.6);
  -moz-box-shadow: 8px 11px 5px 0px rgba(27, 27, 27, 0.6);
  background-color: #faf9f6;
  border-radius: 5px;
  z-index: 9999;
}

.navLinks a {
  color: #000;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.nav-CTA {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

@media (min-width: 768px) {
  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50rem;
    background-color: transparent;
    box-shadow: none;
    gap: 20px;
    height: fit-content;
    top: 3rem;
    right: 0;
  }
  .navLinks a {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-size: 14px;
    transition: 600ms;
    text-decoration-color: transparent;
  }
  .navLinks a:hover {
    text-decoration: underline;
    text-decoration-color: #ff725e;
    text-decoration-thickness: 2px;
    cursor: pointer;
  }
  .logo {
    margin-top: 0;
    font-size: 2.8rem;
    margin-top: 2rem;
  }
  .nav-btn {
    display: none;
  }
  .nav-CTA {
    display: block;
    width: 12rem;
    height: 3rem;
    background-color: #ff725e;
    border: none;
    border-radius: 2rem;
    color: #fff;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    transition: 600ms;
  }
  .nav-CTA:hover {
    background-color: #ff452b;
    color: #000;
  }
}
